.sidebar-portfolio__avatar {
    width: 95%;
    display: flex;
    margin: 0 auto;
    border-radius: 0 0 10px 10px;
    /* border-radius: 10px; */
    /* border: 2px solid grey; */
    border-top: none;
}