.main__chanel-users {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0px;
    text-align: right;
    color: #A4A4A4;
    margin: auto 24px auto 6px;
}