.navigation2__chanels-title {
    margin: 0 0 14px;
    padding: 0;
    width: 214px;
    text-align: justify;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    text-align: left;
    color: #919191;
}