.navigation2 {
    min-width: 261px;
    background: linear-gradient(0deg, rgba(43,43,43,.65) 0%, rgba(77,77,77,.85) 100%);
    position: relative;
    max-height: 100vh;
    overflow-y: scroll;
}

.navigation2::-webkit-scrollbar {
    width: 10px;
}

.navigation2::-webkit-scrollbar-track {
    background: rgba(153, 153, 153, 0.25);
}

.navigation2::-webkit-scrollbar-thumb {
    background-color: rgba(212, 212, 212, 0.25);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    /* border: 3px solid rgba(170, 168, 168, 0.35);  */
}